body {
  font-family: Roboto;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 320px) {
  .portfolio .portfolio-button {
    border-radius: 4px;
    background: #f5f4fa;
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border: none;
    flex-shrink: 0;
    transition-property: background-color, box-shadow, color, border, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio .portfolio-button:hover {
    background: #2196f3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  }
  .portfolio .portfolio-title {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
  }
  .portfolio .portfolio-text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.48px;
  }
  .portfolio .portfolio-ulbuttons {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: start;
    width: auto;
    padding: 40px 0 60px;
    padding-right: 21px;
    white-space: nowrap;
  }
  .portfolio .all {
    padding: 6px 25px;
  }
  .portfolio .portfolio-portfolio {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
  }
  .portfolio .portfolio-portfolio > li {
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    flex-basis: 100%;
    transition-property: background-color, box-shadow, color, border, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio .portfolio-portfolio > li:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  }
  .portfolio .portfolio-portfolio > li > h3 {
    padding: 20px 0px 4px 24px;
  }
  .portfolio .portfolio-portfolio > li > p {
    padding: 0 0 20px 24px;
  }
  .portfolio .portfolio-div {
    position: relative;
    overflow: hidden;
  }
  .portfolio .portfolio-div:hover .portfolio-div-p {
    transform: translatey(0);
  }
  .portfolio .portfolio-div-p {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.555;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background: rgba(33, 150, 243, 0.9);
  }
  .portfolio .portfolio-image {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio .portfolio-portfolio > li {
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio .portfolio-ulbuttons {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin: 0 auto;
    justify-content: center;
    width: auto;
    padding: 60px 0 30px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .portfolio-button {
    border-radius: 4px;
    background: #f5f4fa;
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border: none;
    flex-shrink: 0;
    transition-property: background-color, box-shadow, color, border, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio .portfolio-button:hover {
    background: #2196f3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  }
  .portfolio .portfolio-title {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
  }
  .portfolio .portfolio-text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.48px;
  }
  .portfolio .portfolio-ulbuttons {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin: 0 auto;
    justify-content: center;
    width: auto;
    padding: 94px 0;
    white-space: nowrap;
  }
  .portfolio .all {
    padding: 6px 25px;
  }
  .portfolio .portfolio-portfolio {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
  }
  .portfolio .portfolio-portfolio > li {
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    flex-basis: calc((100% - 60px) / 3);
    transition-property: background-color, box-shadow, color, border, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio .portfolio-portfolio > li:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  }
  .portfolio .portfolio-portfolio > li > h3 {
    padding: 20px 0px 4px 24px;
  }
  .portfolio .portfolio-portfolio > li > p {
    padding: 0 0 20px 24px;
  }
  .portfolio .portfolio-div {
    position: relative;
    overflow: hidden;
  }
  .portfolio .portfolio-div:hover .portfolio-div-p {
    transform: translatey(0);
  }
  .portfolio .portfolio-div-p {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.555;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background: rgba(33, 150, 243, 0.9);
  }
}/*# sourceMappingURL=portfolio.css.map */