@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";


 @media screen and (min-width:320px){
    .advantages-list{
    display: flex;
    padding: 60px 0;
    gap:30px;
    justify-content: center;
    flex-direction: column;
    }
    .advantages-title{
        color: c.$standart-text;
        font-size: 14px;
        font-weight:  t.$standart-weight;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 0 0;
        padding-bottom: 10px;
    }
    .advantages-text{
        color: c.$add-information;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
    }
    .icon{
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: c.$ourteam;
        width: 100%;
    }
}
@media screen and (min-width:768px){
    .advantages-list{
    display: flex;
    padding: 60px 0;
    gap:30px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .advantages-item{
        width: calc((100% - 30px)/2);
    }
    .icon{
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: c.$ourteam;
    }
    .advantages-title{
        text-align:left;
    }
}
@media screen and (min-width:1200px){
    .advantages-ul{
    display: flex;
    padding: 94px 0;
    column-gap:30px;
    justify-content: center;
    }
    .advantages-item{
        width: calc((100% - 30px*4)/4);
    }
    .advantages-title{
        color: c.$standart-text;
        font-size:  t.$standart-font-size;
        font-weight:  t.$standart-weight;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin: 0 0 0 0;
    }
    .advantages-text{
        color: c.$add-information;
        font-size:  t.$standart-font-size;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
    }
    .icon{
        width: 270px;
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: c.$ourteam;
    }
}








 