@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";



.business {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-img.jpg");


    background-repeat: no-repeat;
    background-position: center;

  }



  &-title {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    margin: 0 auto 30px;
    color: c.$white;
  }

  &-button {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
    display: block;
    margin: 0 auto;
    padding: 14px 32px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 30px;
    color: c.$white;
    background-color: c.$primary-color;
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: c.$hover-blue;
      color: c.$white;
      box-shadow: 0 4px 4px rgba(c.$black, 0.15);
    }
  }
}