@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin" as *;
@use "../utils/placeholders";




.business-section {
  background-color: c.$header-fotter;
  padding-bottom: 118px;
  background-image:
    linear-gradient(#2F303A66, #2F303A66),
    url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width:320px) {
    background-size: 100vw 100%;

    .business-title {
      color: c.$h1text;
      animation: fadeInUp 1s ease forwards;
      animation-delay: 0.4s;
      padding: 118px 0 30px 0;
      font-size: 26px;
      font-weight: 900;
      line-height: 1.61;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
    }

    .business-button {
      border-radius: 4px;
      background: #2196F3;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: c.$h1text;
      font-size: 16px;
      font-weight: t.$standart-weight;
      line-height: 1.875;
      letter-spacing: 0.96px;
      padding: 10px 24px;
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }

    .business-button-text {
      text-align: center;
    }
  }

  @media screen and (min-width:768px) {
    .business-title {
      color: c.$h1text;
      padding: 118px 0 30px 0;
      font-size: 26px;
      font-weight: 900;
      line-height: 1.61;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      width: 360px;
    }

    .business-button {
      border-radius: 4px;
      background: #2196F3;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: c.$h1text;
      font-size: 16px;
      font-weight: t.$standart-weight;
      line-height: 1.875;
      letter-spacing: 0.96px;
      padding: 10px 24px;
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

    }

    .business-button-title {
      text-align: center;
    }
  }

  @media screen and (min-width:1200px) {
    padding-bottom: 200px;

    .business-title {
      color: c.$h1text;
      padding: 200px 0 30px 0;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36364;
      letter-spacing: 2.64px;
      text-transform: uppercase;
      text-align: center;
      width: 696px;
    }

    .business-button {
      border-radius: 4px;
      background: #2196F3;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: c.$h1text;
      font-size: 16px;
      font-weight: t.$standart-weight;
      line-height: 1.875;
      letter-spacing: 0.96px;
      padding: 10px 32px;
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }

    .business-button-title {
      text-align: center;
    }
  }
}

@media screen and (min-width:1600px) {
  .business {
    background-size: auto auto;
  }
}