@use "../base/colors" as c;
@use "../base/typography" as t;

.clients {
  height: 372px;

  &-title {
    color: c.$text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-sublist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid c.$icon-color;
    transition: border-color 0.3s, fill 0.3s;

    &:hover {
      border-color: c.$primary-color;

      .clients-svg {
        fill: c.$primary-color;
      }
    }
  }

  &-svg {
    display: flex;
    fill: c.$icon-color;
    width: 106px;
    height: 60px;
  }
}