@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";




.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;

  .clients-title {
    @extend %main-h2-text;
    text-align: center;
    padding-bottom: 30px;
  }

  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;

    .clients-sublist {
      display: block;

      .clients-list-link {
        display: block;
        padding: 16px 51px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        text-align: center;
        background-color: transparent;

    @include mixin.transition(fill);
        &:hover {
          border-color: c.$button;

          svg.clients-svg {
            fill: c.$button;
          }
        }

        svg.clients-svg {
          width: 106px;
          height: 60px;
          fill: #AFB1B8;
          @include mixin.transition(fill);
        }
      }
    }
  }

 
  @media screen and (min-width: 768px) {
    .clients-list-link {
      padding: 16px 59px;
    }
  }

  @media screen and (min-width: 1200px) {
    .clients-list {
      gap: 30px;
      margin-top: 50px;
      justify-content: flex-start;
    }

    .clients-list-link {
      padding: 16px 32px;
      width: 170px;
      height: 92px;
      border-radius: 4px;
      border: 1px solid #AFB1B8;

      &:hover {
        border-color: c.$button;

        svg.clients-svg {
          fill: c.$button;
        }
      }

      svg.clients-svg {
        width: 106px;
        height: 60px;
        fill: #AFB1B8;
       @include mixin.transition(fill);
      }
    }
  }
}
