@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";



.footer {
  background-color: c.$header-fotter;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;

    .footer-div-2 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;

      .footer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .footer-logo {
          .logo-footer {
            display: flex;
            gap: 5px;
            text-decoration: none;

            .web-footer {
              color: c.$button;
              font-family: t.$logo-font;
              font-size: 26px;
              font-weight: t.$standart-weight;
            }

            .studio-footer {
              color: c.$h1text;
              font-family: t.$logo-font;
              font-size: 26px;
              font-weight: t.$standart-weight;
            }
          }
        }

        .address {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: c.$h1text;
          font-size: t.$standart-font-size;
          font-weight: 400;
          line-height: 1.71429;
          letter-spacing: 0.42px;
          gap: 5px;

          .address-link {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
          }
        }
      }

      .connection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .connection-title {
          color: c.$h1text;
          font-size: t.$standart-font-size;
          font-weight: t.$standart-weight;
          text-transform: uppercase;
        }

        .connection-list {
          display: flex;
          gap: 10px;

          .connection-sublist {
            display: block;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 44px;
              height: 44px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.1);
              @include mixin.transition(fill);

              &:hover {
                background-color: c.$button;

                svg.connection-svg {
                  fill: c.$h1text;
                }
              }

              svg.connection-svg {
                width: 20px;
                height: 20px;
                fill: c.$h1text;
                @include mixin.transition(fill);
              }
            }
          }
        }
      }
    }

    .form-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;

      .form-span {
        display: block;
        text-align: justify;
        text-justify: inter-word;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        color: c.$white;
      }

      .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;

        .form-input {
          width: 100%;
          max-width: 358px;
          height: 50px;
          padding-left: 16px;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background: transparent;
          color: c.$h1text;
          font-family: t.$standart-font;
        }

        .form-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px 28px;
          border-radius: 4px;
          background-color: #2196F3;
          color: c.$h1text;
          font-family: t.$standart-font;
          font-size: 16px;
          font-weight: t.$standart-weight;
          line-height: 1.87;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

          .form-button__icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }


  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 165px;

      .form-div {
        flex-direction: row;
        align-items: center;
        width: auto;

        .subscribe-form {
          flex-direction: row;
          gap: 12px;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      flex-direction: row;
      justify-content: start;
      align-items: start;

      .footer-div-2 {
        flex-direction: row;
        gap: 70px;
      }

      .form-button {
        margin-left: -10px;
        margin-top: -325px;
      }

      .form-input {
        margin-left: 305px;
        margin-top: -325px;
      }

      .subscribe-form{
       margin-left: 105px;
        margin-top: -125px;
      }
      .form-span {
        margin-left: 205px;
        margin-top: -200px;
      }

      .footer-div {
        align-items: flex-start;
      }
    }
  }
}