@use "../base/colors" as c;
@use "../layout/animations";
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";

 .container {
   width: 1200px;
   margin: 0 auto;
   padding-left: 12px;
   padding-right: 12px;
 }


 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px 0 25px;
   border-bottom: 1px solid #ccc;
 }

 .header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
 }

 .header-email {
   width: 26px;
   height: 22px;
 fill: c.$accent-color;
   display: flex;
   align-items: center;
 }

 .header-phone {
   width: 26px;
   height: 22px;
  fill: c.$accent-color;
   display: flex;
   align-items: center;
 }

 .div-contact {
   align-items: center;
   gap: 10px;

   &:hover svg {
   fill: c.$primary-color;
 }
}

//  .div-contact:hover svg {
//    fill:  $primary-color;
//  }

 .logo {
   animation: fadeInDown 1s ease forwards;
   animation: fadeInDown 1s ease-in-out;
   display: flex;
   margin-left: -50px;
   font-family: "Raleway", sans-serif;
   text-decoration: none;
 }

 .logo-footer {
   font-family: "Raleway", sans-serif;
   text-decoration: none;
 }

 .web {
   color: c.$primary-color;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
 }

 .studio {
   color: c.$black;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
 }


 .nav {
   display: flex;
   margin-right: 344px;
 }

 .nav-list {
   display: flex;
   column-gap: 50px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .nav-list {
   list-style: none;
   display: flex;
   gap: 20px;
   padding: 0;
   margin: 0;
   
    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
 

 .nav-list a {
   position: relative;
   display: inline-block;
   text-decoration: none;
   padding: 5px 0;
   color:  c.$black;

   &::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -4px;
   width: 0;
   height: 4px;
   background-color: c.$primary-color;
   border-radius: 2px;
   transition: width 0.3s ease;
   top: 57.50px;
 }


 }


 

 .nav-page {
   color: #212121;
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.28px;
   position: relative;
   text-decoration: none;
   padding-bottom: 6px;

   &:hover {
   color:  c.$primary-color ;
 }
 
  &.choosen {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background:  c.$primary-color;
      border-radius: 2px;
    }
  }
}

 
 
 .nav-page.choosen {
   color:  c.$primary-color ;
 }

 
 
.nav {
  &-1,
  &-2,
  &-3 {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 0.28px;
    color:  c.$text-color;

    &:hover {
      color:  c.$primary-color;
    }
  }
}


 .div-contact {
   color:  c.$accent-color;
   font-family: Roboto;
   font-style: normal;
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.28px;
   display: flex;
 
 &:hover {
   color:  c.$primary-color;
 }
}