@use "../base/colors" as c;
@use "../base/typography" as t;



.portfolio {
  &-ulbuttons {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 0 50px;
  }

  &-libuttons {
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-radius: 10px;
      background-color: $primary-color;
      color: $white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &-button {
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: none;
    border-radius: 4px;
    background-color: #f5f4fa;
    color: $text-color;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $white;
      box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &-li {
    width: calc((100% - 60px) / 3);
    border: 1px solid #eee;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.2),
        0px 4px 4px rgba(0, 0, 0, 0.2),
        1px 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  &-img-container {
    position: relative;
    overflow: hidden;

    &:hover {
      .portfolio-img {
        transform: scale(1.05);
        filter: brightness(70%);
      }

      .portfolio-div-p {
        transform: translateY(0);
      }
    }
  }

  &-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  &-div-p {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.555;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    background: rgba($primary-color, 0.9);
    transition:
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

 
.items {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-img {
    display: block;
    width: 100%;
    height: auto;
  }

  &-title {
    margin: 20px 24px 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $text-color;
  }

  &-subtitle {
    margin: 0 24px 20px;
    font-size: 16px;
    line-height: 30px;
    color: $accent-color;
  }
}