@use "../base/colors" as c;
@use "../layout/animations";
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";



.team {
  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 94px 0 50px;
  }

  &-list {
    display: flex;
    justify-content: space-;
    gap: 30px;
    padding-bottom: 94px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(c.$black, 0.1);
    transition: background-color 0.3s;
  }

  &-li {
    background-color: c.$white;
    border-radius: 0 0 4px 4px;
    box-shadow:
      0 1px 3px rgba(c.$black, 0.12),
      0 1px 1px rgba(c.$black, 0.14),
      0 2px 1px rgba(c.$black, 0.20);
  }

  &-img {
    padding-bottom: 30px;
  }

  &-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: c.$text-color;
    margin-bottom: 10px;
  }

  &-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: c.$accent-color;
    margin-bottom: 30px;
  }


  .social-list {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 17px;
    margin: 28px 0 42px;
  }

  .social-list-item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 94px;
  }

  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
  transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(c.$black, 0.1);
    transition: background-color 0.3s;

    &:hover {
      background-color: c.$primary-color;
    }
  }

  .social-list__icon {
    fill: c.$icon-color;
    transition: fill 0.3s;
  }

  .social-list__link:hover .social-list__icon {
    fill: c.$white;
  }
}

// .social-list-link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   transition: background-color 0.3s;

//   &:hover {
//     background-color: #1da1f2;
//   }

//   .social-list-icon {
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     fill: #AFB1B8;
//   }
// }

// .social-list-item {
//   &:hover {
//     .social-list-icon {
//       fill: c.$white;
//     }
//   }
// }