@use "../base/colors" as c;
@use "../base/typography" as t;



.team {
  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 94px 0 50px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 94px;
  }

  &-li {
    background-color: c.$white;
    border-radius: 0 0 4px 4px;
    box-shadow:
      0 1px 3px rgba(c.$black, 0.12),
      0 1px 1px rgba(c.$black, 0.14),
      0 2px 1px rgba(c.$black, 0.20);
  }

  &-img {
    padding-bottom: 30px;
  }

  &-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: c.$text-color;
    margin-bottom: 10px;
  }

  &-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: c.$accent-color;
    margin-bottom: 30px;
  }

 
  .social-list {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin: 28px 0 42px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: background-color 0.3s;

      &:hover {
        background-color: c.$primary-color;
      }
    }

    &-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: c.$icon-color;
    }

    &-item:hover &-icon {
      fill: c.$white;
    }
  }
}
