@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../layout/animations";
@use "../utils/mixin";
@use "../utils/placeholders";

.work {
  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    gap: 30px;
  }

  &-team {
    background-color: #f5f4fa;
  }
}

.clients {
  height: 372px;
}

.leisure {
  &-span {
    display: flex;
    width: 370px;
    height: 70px;
    bottom: 70px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    position: relative;
    color: #fff;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
  }
}
