@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../layout/animations";
@use "../utils/mixin";
@use "../utils/placeholders";

.work {
    display: none;

    .work-title {
        @extend %main-h2-text;
        text-align: center;
        padding-bottom: 50px;
    }

    .leisure-span {
        display: flex;
        height: 70px;
        bottom: 70px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        position: relative;
        color: #fff;
        text-align: center;
        line-height: normal;
        text-transform: uppercase;
        background: rgba(47, 48, 58, 0.8);
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width:480px) {}

    @media screen and (min-width:780px) {}

    @media screen and (min-width:1200px) {
        display: block;
        .work-list {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }
}