@use "../base/colors" as c;
@use "../layout/animations";
@use "../base/typography" as t;
@use "../utils/mixin";
@use "../utils/placeholders";



 
.work-team {
  padding: 94px 0;

  .team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .team-li {
    background-color: c.$white;
    border-radius: 0 0 4px 4px;
    box-shadow:
      0 1px 3px rgba(c.$black, 0.12),
      0 1px 1px rgba(c.$black, 0.14),
      0 2px 1px rgba(c.$black, 0.20);
    padding-bottom: 30px;
  }

  .team-img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .team-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: c.$text-color;
    margin-bottom: 10px;
  }

  .team-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: c.$accent-color;
    margin-bottom: 30px;
  }

 

  .social-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .social-list-item {
    display: block;
  }

  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: c.$primary-color;

      .social-list-icon {
        fill: c.$white;
      }
    }
  }

  .social-list-icon {
    fill: c.$icon-color;
    transition: fill 0.3s;
  }
}