$primary-color: #2196f3;
$text-color: #212121;
$accent-color: #757575;
$white: #ffffff;
$black: #000000;
$footer-bg: #2f303a;
$hover-blue: #188ce8;
$icon-color: #afb1b8;
$button: #2196f3 ;
$header-fotter: #2f303a;
$ourteam: #f5f4fa;
$portfolio: #EEEEEE;
$h1text: #FFFFFF;
$add-information: #757575;
$standart-text: #212121;
$line: #ECECEC;
$logocolour: #000;

  

 