$primary-color: #2196f3;
$text-color: #212121;
$accent-color: #757575;
$white: #ffffff;
$black: #000000;
$footer-bg: #2f303a;
$hover-blue: #188ce8;
$icon-color: #afb1b8;

 :root {
   --primary-color: #2196f3;
   --text-color: #212121;
   --accent-color: #757575;
   --white: #ffffff;
   --black: #000000;
   --footer-bg: #2f303a;
   --hover-blue: #188ce8;
   --icon-color: #afb1b8
 }
