html,
 body,
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ul,
 ol,
 li,
 figure,
 hr {
   margin: 0;
   padding: 0;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: currentColor;
 }

 button,
 input,
 select {
   margin: 0;
 }

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }

 iframe {
   border: 0;
 }

 td,
 th {
   padding: 0;
 }

 body {
   font-family: "Roboto", sans-serif;
   line-height: 1.71;
   color: var(--text-color);
 }