@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin transition($props...) {
  transition: $props 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin font($size, $weight: 400, $lh: 1.5, $ls: 0.03em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}