@use "../base/colors" as c;
@use "../base/typography" as t;
@use "../utils/mixin" as *;


%main-h2-text{
    color: c.$standart-text;
    font-weight:  t.$standart-weight;
    @media screen and (min-width:480px){
        letter-spacing: 1.03px;
        font-size: 28px;
    }
    @media screen and (min-width:1200px){
        font-size: 36px;
        letter-spacing: 1.08px;
            
    }
}